/* CUSTOM FONTS */
:root {
    /* FONTS */
    --body-font: Avenir sans-serif;
    --accent-font: Verdana, sans-serif;
    --code-font: EnvyCodeR, monospace;


    /* COLORS */
    --accent-color-dark: darkslategray;
    --accent-color-medium: cadetblue;
    --accent-color-light: #bfd9d9;
    --accent-color-xlight: #dfecec;
    --cream-color: #F8F6F0;
    --important-color: peachpuff;
    --link-color: darkcyan;
    --code-color: #916a08;
    --nav-link-color: oldlace;
    --nav-background-color: cadetblue;
    --light-text-color: gray;
    --light-gray-color: lightgray;
    --error-color: #800000;
}

html {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cream-color);
}

body {
    background-color: var(--cream-color);
    font-family: var(--body-font);
    font-size: 90%;
    padding-top: 0;
    line-height: 1.5;
}

/* MAIN CONTENT */
.container {
    padding: 100px 40px;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}

/* HEADER */
header {
    color: var(--accent-color-dark);
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
}

header h1 {
    font-family: var(--accent-font);
    padding-top: 10px;
    font-size: 200%;
    padding-bottom: 5px;
    margin: 0;
    /*margin-top: 30px;*/
}

header h4 {
    margin: 0;
    padding-bottom: 20px;
}

header p {
    margin: 0;
}

header img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/* SITE NAVIGATION MENU */
.site-nav {
    position: sticky;
    top: 0;
    background-color: var(--nav-background-color);
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.site-nav ul {
    margin: 0;
    padding: 0;
}

.site-nav li {
    list-style: none;
    display: inline-block;
}

.site-nav a {
    text-decoration: none;
    padding: 20px;
    color: var(--nav-link-color);
    font-family: var(--accent-font);
    font-size: small;
}

.site-nav a:hover {
    color: var(--accent-color-dark)
}

.site-nav a:active {
    color: var(--accent-color-dark)
}

/* TABLE OF CONTENTS */
.toc {
    float: left;
    width: 20%;
    overflow: hidden;
    padding: 10px 15px;
    text-align: left;
}

.drop-down-title {
    font-family: var(--accent-font);
    color: var(--accent-color-dark);
    padding: 0;
    margin: 0;
}

.toc a {
    text-decoration: none;
    font-family: var(--accent-font);
    font-size: small;
}

.toc ul {
    margin: 0;
    padding: 0;
}

.toc li {
    list-style: none;
}

/* HEADINGS */

h1 {
    color: var(--accent-color-dark);
    font-family: Verdana sans-serif;
    font-size: 160%;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-size: 140%;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--nav-background-color);
}

h3 {
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-size: 130%;
    font-weight: normal;
}

h4 {
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-size: 110%;
    font-weight: normal;
}

/* SECTIONS */
p {
    padding: 3px 0;
    margin: 3px 0;
    line-height: 1.5;
}

ul {
    padding-left: 15px;
}

li {
    padding: 2px 0;
    max-width: 75%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

img {
    padding: 15px 0;
}

/* Add link icon after link text */
a[href^="http"]::after,
a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}


/* Required fields */
label {
    display: block;
    margin: 1px;
    padding: 1px;
}

.field {
    margin: 1px;
    padding: 1px;
}

input:required {
    border-color: var(--error-color);
    border-width: 3px;
}

input:required:invalid {
    border-color: #c00000;
}

/* End required */

p.invalidMessage {
    font-size: larger;
    color: var(--error-color);
}

pre {
    white-space: pre-line;
    position: relative;
}

code {
    font-family: var(--code-font);
    color: var(--code-color);
    font-size: inherit;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}

/* Block code */
pre code {
    color: var(--accent-color-dark);
    display: block;
    background: gainsboro;
    -webkit-overflow-scrolling: auto;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 80px;
    padding: 0 15px 15px 15px;
}

details {
    margin: 20px 0;
}

details ul,
.details-children {
    margin-left: 15px;
}

/* FORM STYLES */
form {
    background-color: var(--accent-color-light);
    padding: 30px;
    max-width: 400px;
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="number"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid var(--accent-color-medium);
    outline: none;
}

input {
    font-family: var(--accent-font);
    font-size: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border: 2px solid var(--accent-color-medium);
    box-shadow: inset 2px 2px 2px rgba(47, 79, 79, .2);
}

input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: var(--accent-color-medium);
    color: var(--cream-color);
    padding: 10px 0;
    border: 1px solid var(--accent-color-medium);
    border-radius: 3px;
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: var(--accent-color-light);
    color: var(--accent-color-dark);
    border: 2px solid var(--accent-color-medium);
}

/* Multi-line text input */
textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Dropdown select */
select {
    width: 100%;
    font-family: var(--accent-font);
    border: 1px solid var(--accent-color-medium);
    padding: 10px 5px;
    margin: 10px 0;
    outline: none;
    /* Remove rounded corners */
    /*-webkit-border-radius: 0;*/
    /*border-radius: 0;*/
    /*-webkit-appearance: none;*/
}

.checkbox-text {
    font-family: var(--body-font);
    font-size: small;
    color: var(--accent-color-medium);
}

/* CLASSES */
.important-box {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: var(--important-color);
    padding: 10px;
}

.full-width-image {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
}

.image-caption {
    font-size: small;
    color: var(--light-text-color);
}

/* IMAGE OVERLAY */
.image-overlay {
    position: relative;
}

.image-overlay img {
    display: block;
}

.overlay-text {
    /* Absolute position is relative to the nearest parent relative position */
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, .65);
    padding: 15px 25px;
}

.display-sum {
    font-size: x-large;
    font-style: var(--accent-font);
    color: var(--accent-color-dark);

}

.book-details {
    font-size: large;
    font-style: var(--accent-font);
}

.meal-plan {
    font-size: large;
    font-style: var(--accent-font);
    max-width: 40%;
}


/* Pagination links */

.pagination {
    display: flex;
    flex-wrap: wrap; /* dynamically wrap elements */
    align-items: center; /* opposite direction of flex */
    justify-content: center;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 100px;
}
.pagination a {
    color: var(--accent-color-dark);
    font-size: larger;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: var(--accent-color-medium);
    color: var(--cream-color);
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: var(--accent-color-light);}

/* TABLE STYLE */
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 70%;
    font-family: var(--body-font);
    /*table-layout: fixed;*/
}

table th,
table tfoot {
    text-align: left;
    background-color: var(--accent-color-dark);
    color: var(--cream-color);
    font-family: var(--accent-font);
    font-weight: lighter;
}

table th,
table td {
    border: 1px solid var(--accent-color-dark);
    padding: 10px;
}

/*  Even body rows except 1st col */
table tbody tr:nth-child(even) td:not(:nth-child(1)) {
    background-color: var(--accent-color-xlight);
}

/*  Odd body rows except 1st col */
table tbody tr:nth-child(odd) td:not(:nth-child(1)) {
    background-color: var(--accent-color-light);
}

/* First body column */
table tbody td:nth-child(1) {
    background-color: var(--accent-color-light);
    width: 5%;
}

table tfoot {
    background-color: var(--accent-color-medium);
}

/* All but first column */
table td:not(:nth-child(1)),
table thead th:not(:nth-child(1)) {
    text-align: center;
    vertical-align: top;
    width: 20%;
}

/* TYPOGRAPHY */
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}


/* Flexbox items  */
.box {
    display: flex;
    flex-wrap: wrap; /* dynamically wrap elements */
    align-items: center; /* opposite direction of flex */
    justify-content: center;
    width: 100%;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.outer {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
}
.inner {
    width: 28%;
}


#ex1 {
    height: 100px;
    flex-direction: column;
}

#ex2 {
    height: 50px;
    background-color: #bfd9d9;
}

#two {
    width: 20%;
}

#three {
    margin-left: 20%;
}

#ex3a {
    padding: 0;
}

#ex3a .inner {
    justify-content: left;
    min-width: 33.33%;
    padding: 0;
}

#ex3a .last-item {
    width: 100%;
}

.outer-3c {
    display: flex;
    flex-wrap: wrap; /* dynamically wrap elements */
    align-items: center; /* opposite direction of flex */
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.inner-3c {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.33%;
    min-width: 25%;
    border: 1px solid black;
    box-sizing: border-box;
}

/* Grid items */
.wrapper {
    display: grid;
    border: 1px solid black;
}

.grid-a {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-b {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 200px;
}

.cell {
    border: 1px solid black;
}

.ten-a {
    grid-column: 1 / 4;
    grid-row: 4;
}

.ten-b {
    grid-column: 4;
    grid-row: 1 / 4;
}


/* FOOTER STYLING */

article footer {
    display: none;
}

footer {
    border-top: 1px solid var(--accent-color-dark);
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    font-size: small;
    color: var(--light-text-color);
}

.site-nav {
    background-color: var(--cream-color);
    padding-bottom: 25px;
}

.site-nav a {
    color: var(--nav-background-color)
}