/* CUSTOM FONTS */
:root {
    /* FONTS */
    --body-font: Avenir sans-serif;
    --accent-font: Verdana, sans-serif;
    --code-font: EnvyCodeR, monospace;


    /* COLORS */
    --accent-color-dark: darkslategray;
    --accent-color-medium: cadetblue;
    --accent-color-light: #bfd9d9;
    --accent-color-xlight: #dfecec;
    --cream-color: #F8F6F0;
    --important-color: peachpuff;
    --link-color: darkcyan;
    --code-color: #916a08;
    --nav-link-color: oldlace;
    --nav-background-color: cadetblue;
    --light-text-color: gray;
    --light-gray-color: lightgray;
    --error-color: #800000;
}

html {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cream-color);
}

body {
    background-color: var(--cream-color);
    font-family: var(--body-font);
    font-size: 90%;
    padding-top: 0;
    line-height: 1.5;
}

/* MAIN CONTENT */
.container {
    padding: 100px 40px;
}

.center-content {
    text-align: center;
    margin: 0 auto;
}

/* HEADER */
header {
    color: var(--accent-color-dark);
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
}

header h1 {
    font-family: var(--accent-font);
    padding-top: 10px;
    font-size: 200%;
    padding-bottom: 5px;
    margin: 0;
    /*margin-top: 30px;*/
}

header h4 {
    margin: 0;
    padding-bottom: 20px;
}

header p {
    margin: 0;
}

header img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

/* HEADINGS */

h1 {
    color: var(--accent-color-dark);
    font-family: Verdana sans-serif;
    font-size: 160%;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-size: 140%;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--nav-background-color);
}

h3 {
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-size: 130%;
    font-weight: normal;
}

h4 {
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-size: 110%;
    font-weight: normal;
}

/* SECTIONS */
p {
    padding: 3px 0;
    margin: 3px 0;
    line-height: 1.5;
}

ul {
    padding-left: 15px;
}

li {
    padding: 2px 0;
    max-width: 75%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

img {
    padding: 15px 0;
}

/* Add link icon after link text */
a[href^="http"]::after,
a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}


/* Required fields */
label {
    display: block;
    margin: 1px;
    padding: 1px;
}

.field {
    margin: 1px;
    padding: 1px;
}

input:required {
    border-color: var(--error-color);
    border-width: 3px;
}

input:required:invalid {
    border-color: #c00000;
}

/* End required */


/* FORM STYLES */
form {
    background-color: var(--accent-color-light);
    padding: 30px;
    max-width: 400px;
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="number"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid var(--accent-color-medium);
    outline: none;
}

input {
    font-family: var(--accent-font);
    font-size: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border: 2px solid var(--accent-color-medium);
    box-shadow: inset 2px 2px 2px rgba(47, 79, 79, .2);
}

input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: var(--accent-color-medium);
    color: var(--cream-color);
    padding: 10px 0;
    border: 1px solid var(--accent-color-medium);
    border-radius: 3px;
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: var(--accent-color-light);
    color: var(--accent-color-dark);
    border: 2px solid var(--accent-color-medium);
}

/* Multi-line text input */
textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Dropdown select */
select {
    width: 100%;
    font-family: var(--accent-font);
    border: 1px solid var(--accent-color-medium);
    padding: 10px 5px;
    margin: 10px 0;
    outline: none;
    /* Remove rounded corners */
    /*-webkit-border-radius: 0;*/
    /*border-radius: 0;*/
    /*-webkit-appearance: none;*/
}

.checkbox-text {
    font-family: var(--body-font);
    font-size: small;
    color: var(--accent-color-medium);
}

/* CLASSES */
.full-width-image {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
}

/*.meal-plan-view,
.plan-and-rand-btn-container {
    display: flex;
    width: 100%;
}*/
/* MEAL PLANNER */
.meal-plan-view {
    display: flex;
    width: 100%;
    flex-wrap:nowrap;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
    color: var(--accent-color-dark);
    font-family: var(--accent-font);
    font-weight: normal;
}
.plan-and-rand-btn-container{
    flex-direction: column;
    display: flex;
    width: 100%;
}

.meal-plan-table {
    font-size: 120%;
    max-width: 100%;

}

.recipe-details {
    max-width: 50%;
}

.ingredients-list li {
    list-style: none;
}
.ingredients-list ul {
    margin-left: -13px;
}

.recipes-list {
    max-width: 40%;
}

/* Pagination links */

.pagination {
    display: flex;
    flex-wrap: wrap; /* dynamically wrap elements */
    align-items: center; /* opposite direction of flex */
    justify-content: center;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: fixed;
    bottom: 100px;
}
.pagination a {
    color: var(--accent-color-dark);
    font-size: larger;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: var(--accent-color-medium);
    color: var(--cream-color);
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: var(--accent-color-light);}

/* TABLE STYLE */
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 70%;
    /*table-layout: fixed;*/
}

table th,
table tfoot {
    text-align: left;
    background-color: var(--accent-color-dark);
    color: var(--cream-color);
    font-family: var(--accent-font);
    font-weight: lighter;
}

table th,
table td {
    border: 1px solid var(--accent-color-dark);
    padding: 10px;
}

/*  Even body rows except 1st col */
table tbody tr:nth-child(even) td:not(:nth-child(1)) {
    background-color: var(--accent-color-xlight);
}

/*  Odd body rows except 1st col */
table tbody tr:nth-child(odd) td:not(:nth-child(1)) {
    background-color: var(--accent-color-light);
}

/* First body column */
table tbody td:nth-child(1) {
    background-color: var(--accent-color-light);
    width: 5%;
}

table tfoot {
    background-color: var(--accent-color-medium);
}

/* All but first column */
table td:not(:nth-child(1)),
table thead th:not(:nth-child(1)) {
    text-align: center;
    vertical-align: top;
    width: 20%;
}

.getRandom-form{
    background-color: var(--cream-color);
    display: flex;
    padding: 30px 30px 30px 0;
}
.getRandom-form button{
    background-color: var(--accent-color-xlight);
    color: var(--accent-color-dark);
    border-width: 1px;
    padding: .5em;
}
.getRandom-form button:hover{
    background-color: var(--accent-color-light);
    color: var(--accent-color-medium);
}
