<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}"/>
    <title>Meal plan</title>
</head>
<body>
<h2>This is what you're having for dinner this week!</h2>

<div class="meal-plan-view">
    <table class="meal-plan-table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Recipe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>MONDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(0).id}"
                   th:text="${mealPlan.get(0).name}"/></td>
        </tr>
        <tr>
            <td>TUESDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(1).id}"
                   th:text="${mealPlan.get(1).name}"/></td>
        </tr>
        <tr>
            <td>WEDNESDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(2).id}"
                   th:text="${mealPlan.get(2).name}"/></td>
        </tr>
        <tr>
            <td>THURSDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(3).id}"
                   th:text="${mealPlan.get(3).name}"/></td>
        </tr>
        <tr>
            <td>FRIDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(4).id}"
                   th:text="${mealPlan.get(4).name}"/></td>
        </tr>
        <tr>
            <td>SATURDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(5).id}"
                   th:text="${mealPlan.get(5).name}"/></td>
        </tr>
        <tr>
            <td>SUNDAY</td>
            <td><a th:href="${'/?id=' + mealPlan.get(6).id}"
                   th:text="${mealPlan.get(6).name}"/></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${recipe != null}" class="recipe-details">
        <h3>Ingredients</h3>
        <div class="ingredients-list">
            <ul th:each="i : ${recipe.getIngredients()}">
                <li th:text="|${i.name}: ${i.amount} ${i.unit}|"></li>
            </ul>
        </div>

        <h3>Instructions</h3>
        <p class="recipe-instructions" th:if="${recipe != null}"
           th:text="${recipe.getInstructions()}"></p>
    </div>
</div>
</body>
</html>