<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}"/>
    <title>Meal plan</title>
</head>
<body>
<h2>This is what you're having for dinner this week!</h2>
<div class="meal-plan-view">
<div class="plan-and-rand-btn-container">
    <table class="meal-plan-table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Recipe</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance, iterStat : ${mealPlan}">
            <td th:text="${days[iterStat.index]}">DAY</td>
            <td><a th:href="${'/?id=' + instance.key}"
                   th:text="${instance.value.name}"/></td>
        </tr>
        </tbody>
    </table>
    <form action="/" method="get" class="getRandom-form button">
        <button type="submit">Get random meals</button>
    </form>

</div>
<div th:if="${recipe != null}" class="recipe-details">
    <h3>Ingredients</h3>
    <div class="ingredients-list">
        <ul th:each="i : ${recipe.getIngredients()}">
            <li th:text="|${i.name}: ${i.amount} ${i.unit}|"></li>
        </ul>
    </div>

    <h3>Instructions</h3>
    <p class="recipe-instructions" th:if="${recipe != null}"
       th:text="${recipe.getInstructions()}"></p>
</div>
</div>
</body>
</html>